.image{
    width: 180px;
    height: 210px;
}
.card{
    width:200px;
    height: 420px;
    border-radius:10px;
    box-shadow: 1px 4px 3px lightgrey;
    margin:15px;

}
.title{
    text-align: center;
    height: 80px;
}
.price{
    text-align: center;
}
.card:hover{
    box-shadow: 1px 4px 3px rgb(73, 73, 73);
    cursor: pointer;
}
.detail-button{
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: darkcyan;
    color: antiquewhite;

}
.detail-button:hover{
    cursor: pointer;
    background-color:rgb(45, 59, 59);
}